h1.title {
	margin-top: 60px;
	text-align: center;
}

nav.home-nav { margin-top: 60px; }

nav.home-nav ul li {
	line-height: 1.333;
	padding: 10px 50px;
	margin: 30px;
	border: 3px solid #262824;
	border-radius: 50px;
	background: transparent;
	overflow: hidden;
	transition: 0.3s;
}

nav.home-nav ul li svg {
	position: relative;
	top: 70px;
	padding-right: 10px;
	transition: 0.2s;
}

nav.home-nav ul li span {
	vertical-align: top;
	position: relative;
	left: -24px;
	transition: color 0s, left 0.2s;
}

nav.home-nav ul li:hover,
nav.home-nav ul li:focus {
	border: 3px solid #262824;
	background: #262824;
	color: #FDF6F0;
}

nav.home-nav ul li:hover svg,
nav.home-nav ul li:focus svg {
	top: 0;
	fill: #FDF6F0;
}

nav.home-nav ul li:hover span,
nav.home-nav ul li:focus span {
	left: 0;
}

/* ---------- INTERIOR NAV ---------- */

nav.int-nav {
	align-self: center;
	justify-self: center;
	width: 70%;
	padding: 25px 0;
}

nav.int-nav ul li {
	position: relative;
	margin: 0 25px;
	padding: 5px 20px;
	bottom: 40px;
	border: 2px solid;
	border-radius: 50px;
	transition: 0.3s;
}

nav.int-nav ul li:first-child {
	margin: 0 25px 0 0;
	padding: 0;
	bottom: 0;
	border: 0;
	border-radius: 0;
}

nav.int-nav ul li svg.icon {
	position: relative;
	top: 3px;
	margin-right: 10px;
}

nav.int-nav ul li svg.logo {
	height: 100px;
}

nav.int-nav ul li:hover,
nav.int-nav ul li:focus {
	color: #FDF6F0;
	border: 2px solid #262824;
	background: #262824;
}

nav.int-nav ul li:hover span,
nav.int-nav ul li:focus span {
	color: #FDF6F0;
}

nav.int-nav ul li:hover svg.icon,
nav.int-nav ul li:focus svg.icon {
	fill: #FDF6F0;
}

nav.int-nav ul li:first-child:hover,
nav.int-nav ul li:first-child:focus {
	color: #262824;
	border: none;
	background: transparent;
}

/* ---------- FOOTER ---------- */

footer {
	background-color: #262824;
	display: grid;
	grid-template-columns: minmax(100px, auto) 1fr;
	grid-template-rows: 1fr;
	padding: 25px 15%;
}

footer svg.logo {
	fill: #FDF6F0;
	height: 50px;
}

footer .footer-nav {
	justify-self: right;
	display: grid;
	grid-template-rows: 1fr;
	text-align: right;
	align-self: center;
}

footer .footer-nav ul li a {
	color: #FDF6F0;
	padding: 10px;
}

footer .social ul li {
	display: inline-block;
}

footer .social ul li svg {
	fill: #FDF6F0;
	height: 24px;
}

footer .copyright p {
	color: rgba(253, 246, 240, 0.5);
	font-size: 0.5em;
}

/* ---------- HOME CONTAINER ---------- */

.home-container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.home-content {
	justify-self: center;
	align-self: center;
}

/* ---------- ABOUT CONTAINER ---------- */

.about-container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(150px, auto) 1fr auto;
}

.about-content {
	justify-self: center;
	align-self: center;
	display: grid;
	grid-template-columns: minmax(auto, 300px) 1fr;
	width: 70%;
}

.about-content div {
	margin: 0 50px 50px 0;
}

.about-content img {
	border-radius: 50%;
	max-width: 100%;
}

.about-content p {
	margin-bottom: 20px;
}

svg.gradient-bg-svg {
	position: fixed;
	height: 100%;
	z-index: -1;
}

svg.logo {
	fill: #262824;
	max-height: 200px;
}

svg.icon {
	fill: #262824;
	height: 1.15em;
}

/* ---------- ANNIMATION ---------- */

@keyframes icon-bounce {
	30% {
		transform: translateY(-3px);
	}
}

/* ---------- RESIZING ---------- */

@media (max-width: 1024px) {
	
	nav.int-nav {
		justify-self: left;
		width: auto;
		padding: 25px;
	}
	.about-content { width: auto; }
	.about-content div { margin: 20px 50px 50px 50px; }
	footer { padding: 25px; }

}

