h1.title {
	margin-top: 60px;
	text-align: center;
}

nav.home-nav { margin-top: 60px; }

nav.home-nav ul li {
	line-height: 1.333;
	padding: 10px 50px;
	margin: 30px;
	border: 3px solid #262824;
}

nav.home-nav ul li:hover,
nav.home-nav ul li:focus {
	border: 3px solid #262824;
	background: #262824;
	color: #FDF6F0;
	transition: 0.3s;
}

.home-container {
	display: grid;
	grid-template-columns: 1fr;
	height: 100vh;
}

.home-content {
	justify-self: center;
	align-self: center;
}

svg.gradient-bg-svg {
	position: fixed;
	height: 100%;
	z-index: -1;
}

svg.logo {
	fill: #262824;
	max-height: 200px;
}